body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    top: 0;
    /* padding: 20px 100px;margin: 20px 0;
    width: 150px;
    height: 20px;
    background-color: #ffffff;
    border: 1.5px solid #dddddd;*/
    color: #000;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

/* .title {
    padding: 0px 20px;
} */

/* .container {
    padding: 5px 20px;
} */

.content {
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.title-navbar {
    display: flex;
    flex-direction: row;
    margin: 0px 220px;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.nav-content {
    margin: 0;
    padding: 0;
    /* width: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-content li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    margin: 0;
    width: 130px;
    height: 15px;
    background-color: #ffffff;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-content li:hover {
    background-color: #d8d8d8;
    border-radius: 7px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    padding: 0px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.fst-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.camera {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    height: 300px;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
}

.map-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 325px;
    height: 300px;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
}

.snd-container {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spe-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    width: 100%;
    max-width: 370px;
    height: 250px;
    align-content: center;
}

.wat-container {
    background-color: #ffffff;
    padding: 15px; 
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    width: 100%;
    max-width: 555px;
    height: 250px;
}

.table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    width: 200px;
    padding: 8px;
    text-align: center;
}

.line td,
.line th {
    border-bottom: 1px solid #b7b7b7;
}

.trd-container {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habit-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    width: 100%;
    max-width: 295px;
    height: 200px;
}

.Ultra-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    width: 100%;
    max-width: 295px;
    height: 200px;
}

.bio-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
    width: 100%;
    max-width: 295px;
    height: 200px;
}

.wat-qual-indi {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart2 {
    padding: 0px 10px;
    border: 2px solid;
    border-color: transparent transparent transparent black;
}

.frth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1.5px solid #dddddd;
    border-radius: 7px;
}

.proggress {
    background-color: #d8d8d8;
    border-radius: 13px;

}

.frt-container {
    display: flex;
    margin: auto;
}

/* .AI-Analy-page {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #bcbcbc;
    border-radius: 7px;
    width: 100%;
    max-width: 730px;
    height: 300px;
} */

#map {
    height: 100%;
    width: 400px;
}

.hidden {
    display: none;
}

.img-population {
    width: 40px;
}